.app{
  font-size: 14px;
}
*{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
.app .header{
  display: flex;
  justify-content: space-between;
  background-color: yellowgreen;
  padding: 8px 14px;
  font-size: 18px;
  flex-wrap: wrap;
}
.app .header a{
  color: #fff;
  text-decoration: none;
  padding: 8px;


}

.app .main{
  min-height: 400px;
  border: 1px solid #ddd;
}